
.main-meme-editor {
    gap: 20px;
    background-color: var(--clr0);
    /* height: 63vh; */
    padding-block: 2em;
    justify-content: center;
}

.canvas-container, 
#my-canvas { 
    width: 100%;
    height: 100%;
} 

.editor-container {
    background-color: var(--clr0);
}

.text-user-input {
    font-family: montserrat;
    font-size: 1.25rem; /*20px*/
    padding-block: 0.5em;
    height: 2.5em;
    width: 17em;
    /* margin-inline: 5em; */
    border-radius: 12px;
    border: 1px solid var(--clr-1);

    align-self: flex-end;
    justify-self: center;
}

.editor-2nd-line {
    justify-self: center;
    
}

.editor-3rd-line {
    justify-self: center;
    align-self: flex-end;
}

.editor-4th-line {
    display: grid;
    grid-auto-flow: column;
    justify-self: center;
}

.editor-5th-line{
    justify-self: center;
}

.btn-switch-lines {
    background: url('../../img/btn-img/up-and-down.png') no-repeat; 
}

.btn-add-line {
    background: url('../../img/btn-img/add.png') no-repeat; 
}

.btn-delet-line {
    background: url('../../img/btn-img/trash.png') no-repeat;
}

.btn-increase-font-size {
    background: url('../../img/btn-img/increase font.png') no-repeat;
}

.btn-decrease-font-size {
    background: url('../../img/btn-img/decrease font.png') no-repeat;
}

.btn-align-text-left {
    background: url('../../img/btn-img/align-to-left.png') no-repeat;
}

.btn-align-text-center {
    background: url('../../img/btn-img/center-text.png') no-repeat;
}

.btn-align-text-right {
    background: url('../../img/btn-img/align-to-right.png') no-repeat;
}

.btn-choose-stroke-clr {
    background: url('../../img/btn-img/text stroke.png') no-repeat;
}

.btn-choose-fill-clr {
    background: url('../../img/btn-img/paint-board.png') no-repeat;
}

.btn,
.color-picker-default{
    height: 60px;
    width: 60px;
    background-color: var(--clr-3);
    border-radius: 12px;
    border: 2px solid var(--clr-1);
    background-position: center;
    margin-inline: 3px;

    transition: transform .1s, box-shadow .3s;
} 

.btn:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 3px var(--clr-3);
    transform: scale(1.05);
}

.btn-download,
.btn-share {
    font-family: montserrat;
    font-size: 1.25rem; /*20px*/
    padding: 6px 10px;
    width: 8.5em;
    border-radius: 12px;
    border: 1px solid var(--clr-1);
    background-color: white;
}

.btn-download:hover,
.btn-share:hover {
    cursor: pointer;
    box-shadow: 0 0 5px 3px var(--clr-3);
}

.select-font-container select{
    font-family: montserrat;
    font-size: 1.25rem; 
    padding: 0.5em 1.25em;
    width: 10em;
    height: 2.8em;
    border-radius: 12px;
    border: 1px solid var(--clr-1);
}

.color-picker-default {
    opacity: 0;
    margin: 0;
    padding: 0;
    border: none;
}

/* STICKER CONTAINER */

.main-emoji-section{
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.imoji-container {
    background-color: var(--clr-3);
    border-radius: 20px;
}
.imoji-container a{
    font-size: 2.5em;  
    margin-inline: 0.13em;
}

.imoji-container a:hover{
    cursor: pointer;
}

.main-emoji-section button {
    background-color: var(--clr-3);
    border: none;
    font-family: montserrat;
    font-size: 1rem;
    border-radius: 12px;
}