:root{
   
    --clr2: #A7727D;
    --clr1: #292929;
    --clr0: #EDDBC7;
    --clr-1:#F8EAD8;
    --clr-2:#F9F5E7;
    --clr-3: #ffffff;


 /* Layout */
 --site-width: 1102px;
 --l: 1102px;
 --m: 551px;
 --s: 640px; /*1fr*/
 --layout-padding: 49px;

/*Card layout*/
/* --editor-width: 551px;
--editor-in-l: 551px;
--editor-in-m: 551px;
--editor-in-s: 1fr; */
/* --editor-in-mobile: 1fr;  */
}